@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
}

#title {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #8cbaff;
  font-size: 50px;
}

#error {
  color: red;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 90%;
  margin: 10px;
  text-align: center;
}

.second-container {
  display: flex;
  justify-content: center;
  width: 50%;
  float: right;
}

.second-container > div > img {
  border: 6px solid;
  border-color: #8cbaff;
}

.second-container > div {
  background: #f1f1f1;
  width: 33%;
  margin: 10px;
  text-align: center;
}

/**********************************************************************
Navigation CSS
**********************************************************************/
.nav-bar {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #8cbaff;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
